.square{
    border: 2px solid rgb(102, 102, 102);
    color: white;
    background-color: black;
    height: min(100px, 10vw + 20px);
    width: min(100px, 10vw + 20px);
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

.board-row{
    display: flex;

}


.status{
    color: aqua;
    font-size: 2rem;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}
